.app {
  padding: 32px;
}

.app > * + * {
  margin-top: 32px;
}

.main > * + * {
  margin-top: 32px;
}

.logo {
  flex: none;
  display: block;
  width: 140px;
  height: auto;
}

.link-icon {
  flex: none;
  display: block;
  padding: 4px;
  border-radius: 999em;
  color: var(--theme-tx-3);
}

@media (hover: hover) {
  .link-icon:hover {
    color: var(--theme-tx-2);
  }
}

.link-icon > svg {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.sprite-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-template-rows: auto;
  gap: 12px;
}

.sprite-svg {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
}

.selection {
  display: grid;
  place-content: center;
  min-height: 30vh;
  padding: 20px;
  background-color: var(--theme-bg-1);
  border: 2px dashed var(--theme-lk-1);
  border-radius: 6px;
}

.selection.is-over {
  background-color: var(--theme-bg-2);
}

.text.is-mono {
  font-family: var(--font-mono);
}
